* {
    margin: 0;
    padding: 0;
}
:root {
    --bg-color: #13151a;
    --bg2-color: #23350b;
    --text-color: #37b445;
}
body {
    font-family: "Press Start 2P", sans-serif;
    font-size: 12px;
    line-height: 2;
    background: var(--bg-color);
    color: var(--text-color);
}

code {
    font-family: "Press Start 2P", sans-serif;
}

a {
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 10px 0;
}

h1,
h2 {
    margin: 20px 0;
}

li {
    margin: 10px 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 980px;
}

header,
footer,
nav {
    width: 980px;
}

nav {
    margin-bottom: 40px;
}
nav ul {
    display: flex;
}

nav ul li {
    margin-right: 40px;
}

aside {
    margin-right: 40px;
    width: 350px;
}

aside img {
    filter: sepia(10) saturate(1.5) hue-rotate(80deg);
}

.skills__persent {
    padding: 0 5px;
    box-sizing: border-box;
    margin: 5px 0 20px 0;
    font-size: 8px;
    color: var(--text-color);
    background: var(--bg2-color);
}

main {
    width: 590px;
}

main ul {
    margin-left: 16px;
    list-style: square;
}

.code-con {
    padding: 20px 40px;
    margin: 30px 0;
    background-color: var(--bg2-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 20px 30px;
    background-color: var(--bg2-color);
}
